.a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  line-height: normal;
  white-space: normal;
}

.a > * {
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;
}

.b {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: nowrap;
  line-height: normal;
  white-space: normal;
}

.b > * {
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 1;
}

.c {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: nowrap;
  line-height: normal;
  white-space: normal;
}

.c > * {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
}

.d {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
  line-height: normal;
  white-space: normal;
}

.d > * {
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;
}

.e {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  line-height: normal;
  white-space: normal;
}

.e > * {
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 1;
}

.f {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  line-height: normal;
  white-space: normal;
}

.f > * {
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;
}
