@media (orientation: portrait) {
  display: none;
}

@media (orientation: landscape) {
  display: none;
}

@media (min-width: 0px) and (max-width: 639px) {
  display: none;
}

@media (min-width: 0px) {
  display: none;
}

@media (min-width: 640px) and (max-width: 1024px) {
  display: none;
}

@media (min-height: 1440px) {
  display: none;
}

@media (max-width: 1919px) {
  display: none;
}

@media (max-width: 1919px) {
  display: none;
}

.a {
  @media (min-width: 481px) {
    display: none;
  }
}
