.a {
  -post-box: default top lefts;
}

.b {
  -post-box: constrainedv bottom right;
}

.c {
  -post-box: filled< left;
}

.d {
  -post-box: top right;
}

.e {
  -post-box: constrained^ right;
}

.f {
  -post-box: v;
}
