.a {
  left: 0;
  top: 0;
  position: absolute;
}

.b {
  bottom: 0;
  right: 0;
  position: fixed;
}

.c {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
}
