.a {
  *zoom: 1;
}

.a::before {
  content: '';
  display: table;
}

.a::after {
  content: '';
  display: table;
  clear: both;
}

.b {
  *zoom: 1;
}

.b::before {
  content: '';
  display: table;
}

.b::after {
  content: '';
  display: table;
  clear: both;
}