.a {
  @post box(default top left);
}

.b {
  @post box(constrained column bottom right);
}

.c {
  @post box(filled row-reverse left);
}

.d {
  @post box(top right);
}

.e {
  @post box(constrained column-reverse right);
}

.f {
  @post box(column);
}
