.a {
  @post flex(top left);
}

.b {
  @post flex(constrain column bottom right);
}

.c {
  @post flex(fill row-reverse left);
}

.d {
  @post flex(top right);
}

.e {
  @post flex(constrain column-reverse right);
}

.f {
  @post flex(column);
}
