.a {
  @post flex(top left);
}

.b {
  @post flex(constrain vertical bottom right);
}

.c {
  @post flex(fill horizontal reverse left);
}

.d {
  @post flex(top right);
}

.e {
  @post flex(constrain vertical reverse right);
}

.f {
  @post flex(vertical);
}
