.a {
  @post flex(default top left);
}

.b {
  @post flex(constrained column bottom right);
}

.c {
  @post flex(filled row-reverse left);
}

.d {
  @post flex(top right);
}

.e {
  @post flex(constrained column-reverse right);
}

.f {
  @post flex(column);
}
