@post media('portrait') {
  display: none;
}

@post media('landscape') {
  display: none;
}

@post media('mobile') {
  display: none;
}

@post media('w>=mobile') {
  display: none;
}

@post media('=tablet') {
  display: none;
}

@post media('h>notebook') {
  display: none;
}

@post media('<=desktop') {
  display: none;
}

@post media('<tv') {
  display: none;
}

.a {
  @post media('>480px') {
    display: none;
  }
}
