.a {
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  font-variant: normal;
  line-height: normal;
  letter-spacing: normal;
}

.b {
  font-family: serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: normal;
  letter-spacing: normal;
}
